repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
        exclude: "sam-template-*"
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/aws-cloudformation/cfn-python-lint
    rev: v0.58.4 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: ^sam-template-*
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: "3.9.0"
    hooks:
      - id: flake8
        args:
          # these are errors that will be ignored by flake8
          # check out their meaning here
          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E501,E203,W503"
