name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.3

  test:
    name: Test cases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Install Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install pytest pytest-cov

      - name: Run Test Cases
        env:
          MONGO_AUTH_CREDENTIALS: "mongodb://mongo/quiz"
        # command to run tests and generate coverage metrics
        run: |
          coverage run -m pytest
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
