name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.3

  test:
    name: Test cases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Install Python. This matches the Python version in Dockerfile.
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt

      - name: Run Test Cases
        env:
          MONGO_AUTH_CREDENTIALS: "mongodb+srv://quiz:p$#p4h7y_Z44R-n@cluster0.uocfg.mongodb.net/quiz?retryWrites=true&w=majority"
        # command to run tests and generate coverage metrics
        run: coverage run manage.py test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
