name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11 for pre-commit
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: Show Python version (debug)
        run: python --version
      - uses: pre-commit/action@v3.0.0

  unit-tests:
    name: Test cases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: 5.0

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install pytest pytest-cov

      - name: Run Test Cases
        # command to run tests and generate coverage metrics
        run: |
          coverage run --rcfile=.coveragerc -m pytest
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
